body {
    padding: 0px;
    margin: 0px;
}
header, a {
    text-decoration: none;
    color: #000;
    font-size: 23px;
    padding: 5px;
} 
nav, a {
  color: #000;
}
.navbar-nav{
  float: left;
}
.left{
    float: left;
}

.right{
    float: right;
}

.clear {
    float: clear;
}
.logo {
    padding: 0px;
    width: 220px;
    height: 60px;
}
.row {
    width: 100%;
    height: 100%;
}

.landingPage {
    width: 100%;
    height: 100%;
    background-image: url("img/bg.jpg");
    background-size: cover;
    text-align: center;
}
.landingPage, img {
    width: 100%;
    height: 100%;
}

.center {
    text-align: center;
}
body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

ul {
    overflow: hidden;
}

.pimg1,
.pimg2,
.pimg3,
.pimg4,
.pimg {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* fixed = parallax
    scroll = normal */
  background-attachment: fixed;
}

.pimg1 {
  background-image: url("/img/bg.jpg");
  min-height: 100%;
}
.pimg2 {
  background-image: url("/img/community.jpg");
  min-height: 400px;
}
.pimg3 {
  background-image: url("/img/who\ we\ are.jpg");
  min-height: 300px;
}
.pimg {
  background-image: url("/img/faqs.jpg");
  min-height: 300px;
}
.pimg4 {
  background-image: url("/img/map.jpg");
  min-height: 300px;
}

.hero {
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}
.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  background-color: transparent;
  color: fff;
  padding: 20px;
}

/* menu page */
.right {
  float: right
}
.left {
  float: left;
  /* background-color: red; */
}
@media (max-width: 568px) {
  .pimg3,
  .pimg1,
  .pimg2,
  .pimg,
  .pimg4 {
    background-attachment: scroll;
  }
}
